* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    & .container__h1 {
        margin-top: 5.375rem;
        font-size: 1.875rem;
    }
    & .container__p {
        margin: 1.25rem 6.25rem 0 6.25rem ;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        font-size: 1rem;
    }
    & .container__h2 {
        margin-top: 3.125rem;
    }
    & .container__form {
        width: auto;
        height: 2.875rem;
        margin-top: 2.125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: .625rem;
        background-color: #000;
        color: #fff;
        padding: 0 .625rem 0 .625rem;
        border-radius: .9375rem;

        & .container__form__input--text {
            width: 12.25rem;
            height: 1.5rem;
            border: none;
            border-radius: .625rem;
            padding-left: .625rem;
        }

        & .container__form__input--button {
            width: 6.25rem;
            height: 1.5rem;
            background-color: rgb(14, 173, 109);
            border: none;
            border-radius: .625rem;
            cursor: pointer;
            color: #000;
            font-weight: 600;
        }
    }
    & .p {
        margin-top: .625rem;
        font-weight: 600;
        color: #0000009c;
    }
}
.root {
    margin-top: 2.125rem;
    width: 80%;
    height: 2.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.green {
    background-color: greenyellow;
    color: #000;
}
.false {
    background-color: red;
    color: #fff;
}